<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./stylesheets/genre.css">
    </head>
    <body style="background-image: url('/images/hypnotize.png')">
      <nav class="navbar">
        <div class="icon">
          <a href="/"><img class="popcorn" src="/images/food.svg"></a>
        </div>
        <div class="navlinks">
          <a href="/genre"> Genre </a>
          <a href="/decade"> Decade </a>
          <a href="/games"> Games </a>
          <a href="/tutorial"> Tutorial </a>
        </div>
        <div class="searchbar">
          <form>
            <input class="searchinput" type="text"></input>
          </form>
          <img class="searchsvg" src="/images/magnifier.svg">
        </div>
        <div class="login">
          <a href="/login"> Login / Register </a>
        </div>
      </nav>
      <section class="genrecontent">
          <div id="action" class="genre">
            <div class="title">
              <a href="/genre/action">Action/Adventure</a>
            </div>
            <div class="genreimage">
              <img class="genresrc" src="/images/avatar.jpg">
            </div>
          </div>
          <div id="comedy" class="genre">
            <div class="title">
              <a href="/genre/comedy">Comedy</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/images/rush_hour.jpg"></div>
          </div>
          <div id="sci-fi" class="genre">
            <div class="title">
                <a href="/genre/scifi">Sci-Fi</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/images/ex_machina.jpg"></div>
          </div>
          <div id="drama" class="genre">
            <div class="title">
                <a href="/genre/drama">Drama</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/images/donnie_darko.jpg"></div>
          </div>
          <div id="horror" class="genre">
            <div class="title">
                <a href="/genre/horror">Horror</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/images/Silence of the lambs_Portrait.jpg"></div>
          </div>
          <div id="thriller" class="genre">
            <div class="title">
                <a href="/genre/thriller">Thriller</a>
            </div>
            <div class="genreimage"><img class="genresrc" src="/images/shutter_island.jpg"></div>
          </div>
      </section>
      </footer>
    </body>
</html>