<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="horrorPage.css">

    <a href="navBar.html"></a>
    
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    
</head>
<body>
      <nav class="navbar">

        <div class="icon">
          <img class="popcorn" src="food.svg">
        </div>

        <div class="navlinks">
          <a href="/genre"> Genre </a>
          <a href="/director"> Director </a>
          <a href="/decade"> Decade </a>
          <a href="/games"> Games </a>
          <a href="/tutorial"> Tutorial </a>
        </div>

        <div class="searchbar">
          <form>
            <input class="searchinput" type="text"></input>
          </form>

          <img class="searchsvg" src="magnifier.svg">

        </div>

        <div class="login">
          <a href="/login"> Login / Register </a>
        </div>
        
      </nav>

      <main>

        <h1>Horror</h1>

        <div id="imageGrid">
            <figure>
                <a href=""><img src="The Conjuring_Portrait.jpg" 
                   alt="" class="images"></a>
            </figure>

            <figure>
                <a href=""><img src="Exorcism of Emily Rose_Portrait.jpg" 
                    alt="" class="images"></a>
            </figure>

            <figure>
                <a href=""><img src="Silence of the lambs_Portrait.jpg" 
                    alt="" class="images"></a>
            </figure>

            <figure>
                <a href=""><img src="The Shining_Portrait.jpg" 
                   alt="" class="images"></a>
            </figure>

            <figure>
              <a href=""><img src="Texas Chainsaw Massacre_Portrait.jpg" 
                 alt="" class="images"></a>
            </figure>

            <figure>
            <a href=""><img src="Texas Chainsaw Massacre_Portrait.jpg" 
               alt="" class="images"></a>
           </figure>
            
        </div>

      </main>
    
</body>
</html>