<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body style="background-color: RGB(39, 158, 134)">
      <nav class="navbar">
        <div class="icon">
          <a href="/"><img class="popcorn" src="./images/food.svg"></a>
        </div>
        <div class="navlinks">
          <a href="/genre"> Genre </a>
          <a href="/decade"> Decade </a>
          <a href="/games"> Games </a>
          <a href="/tutorial"> Tutorial </a>
        </div>
        <div class="searchbar">
          <form>
            <input class="searchinput" type="text"></input>
          </form>
          <img class="searchsvg" src="./images/magnifier.svg">
        </div>
        <div class="login">
          <a href="/login"> Login / Register </a>
        </div>
      </nav>
      <div class="sidenav">
        <div class="sidebar"></div>
        <section class="featuredfilm">
          <img class="backgroundimage" src="./images/Silence of the lambs.jpg" style="height: 100%; width: 100%">
        </section>
      </div>
      <footer class="myfooter">
        <div class="footerbackground">
          <a href="https://github.com/COMP424-GroupB-MovieJunkies/MovieJunkies" target="_blank" style="color: RGB(39, 158, 134); text-decoration: none"> Github</a>
        </div>
      </footer>
    </body>
</html>