<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieJunkiesLogin</title>
    <link rel="stylesheet" href="loginPageStyle.css">
</head>
<body>
    <header>
        <figure class="icon">
            <img class="popcorn" src="food.svg">
        </figure>
        <h1 id="title">Movie Junkies</h1>
    </header>
    <main>
         <!-- <form action="the url to send the form data to" method="type of HTTP request"> -->
        <form id="loginForm">
            <input type="text" name="username" placeholder="username">
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <a class="button" href="index.html">login</a>
            <p>
                <a id="creatAnAccount">create an account</a> 
            </p>
        </form>
    </main>
</body>
</html>